/.vscode
/All_Factors
/All_Factors.dSYM
/Area_Circle
/Area_Circle.dSYM
/Area_of_Triangle
/Area_of_Triangle.dSYM
/Bill_Discount
/Bill_Discount.dSYM
/Enum_Days
/Enum_Days.dSYM
/Hello_World
/Hello_World.dSYM
/Leap_Year
/Leap_Year.dSYM
/Perfect_Number
/Perfect_Number.dSYM
/Print_Name
/Print_Name.dSYM
/Sum
/Sum.dSYM
/Sum_Natural_Numbers
/Sum_Natural_Numbers.dSYM
Array_Iterator
Array_Iterator.dSYM/Contents/Info.plist
